{% extends "JackDefaultBundle::layout.html.twig" %}

{% block title %}Statistic Bundle: PC Ratio Generator: Result & Debug{% endblock %}

{% block head %}
    {% if import_url %}
        <meta http-equiv="refresh" content="1; url={{ import_url }}">
    {% endif %}
{% endblock %}

{% block content %}
    <h2><span class="glyphicon glyphicon-tasks"></span> Statistic: PC Ratio Generator</h2>

    <div class="panel panel-default">
        <div class="panel-heading">Result & Debug</div>
        <div class="panel-body">
            {% if import_url %}
                <p><a href="{{ import_url }}">Continue generate more data: Redirecting...</a></p>
            {% else %}
                <div class="alert alert-success">
                    All P/C Ratio data for underlying {{ symbol|upper }} have been generated!
                </div>
            {% endif %}

            <ul class="list-group">
                {% if debugResults %}
                    {% for debugResult in debugResults %}
                        <li class="list-group-item">
                            {{ debugResult.count }}.
                            {{ debugResult.data }}
                            {% if debugResult.result %}
                                <span class="label label-success">Success, inserted into table!</span>
                            {% else %}
                                <span class="label label-default">Warning, not enough samples!</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>


        </div>
    </div>

{% endblock %}
