{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content %}
    <h2 style="background-color: darkcyan">Import Check Report: {{ symbol }}</h2>

    <p>Imported day range: {{ firstDate }} until {{ lastDate }}</p>

    <p>Total days between: <b style="color: green">{{ workingDays }}</b>
        (business days) / {{ dayBetween }} (+ sunday saturday)</p>

    <p>
        Total cycles:
        <b>{{ cycleCount }}</b>,
        Total strikes:
        <b>{{ strikeCount|number_format(0, '.', ',') }}</b>,
        Total chains:
        <b style="color: green">
            {{ chainCount|number_format(0, '.', ',') }}
        </b>
    </p>


    {% if missingDates %}
        <p>Total missing days: <b style="color: red">{{ totalMissingDays }}</b>
            (business days, including holiday)</p>

        <h2 style="background-color: darkcyan">Missing Dates:</h2>
        <ul style="padding: 1em">
            {% for missingDate in missingDates %}
                <li>
                    <div style="color: red; width: 80px; height: 40px; float: left;">(Missing)</div>
                    <div style="height: 40px;">[ {{ missingDate }} ] on table.</div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}



{% endblock %}