{% extends "JackDefaultBundle::layout.html.twig" %}

{% block title %}Import Bundle: Check: {{ symbol }} Report{% endblock %}

{% block content %}
    <h3><span class="glyphicon glyphicon-check"></span> Import: Check Report</h3>

    <div class="panel panel-info">
        <div class="panel-heading"><b>Data Check Report</b></div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">
                    <p>
                        Imported day range: {{ firstDate }} until {{ lastDate }},
                        Total days between: <b style="color: royalblue">{{ workingDays }}</b>
                        (business days) / {{ dayBetween }} (+ sunday saturday)
                    </p>

                    <p>
                        Total underlying count:
                        <b style="color: green">{{ underlyingCount }}</b>,
                        Total cycle count:
                        <b>{{ cycleCount }}</b>,
                        Total strike count:
                        <b>{{ strikeCount|number_format(0, '.', ',') }}</b>,
                        Total chain count:
                        <b style="color: green">
                            {{ chainCount|number_format(0, '.', ',') }}
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if deleteList %}
        <div class="panel panel-danger">
            <div class="panel-heading"><b>Require Re-import Report!</b></div>
            <div class="panel-body">
                {% for deleteData in deleteList %}
                    <p>
                        Deleted: Underlying ID: {{ deleteData.id }}
                        with Date: {{ deleteData.date }} -
                        Error: {{ deleteData.error }}
                    </p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if missingDates %}
        <div class="panel panel-danger">
            <div class="panel-heading"><b>Missing Date Report, No Data Days</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Total missing days: <b style="color: red">{{ totalMissingDays }}</b>
                            / {{ workingDays }}
                            (business days, not include holiday)
                        </p>

                        <ul class="list-group">
                            {% for missingDate in missingDates %}
                                <li class="list-group-item">
                                    <span class="label label-warning">MISSING</span>
                                    [ {{ missingDate }} ] on table.
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}






{% endblock %}