{% extends "JackFindBundle::layout.html.twig" %}

{% block title %}Find Bundle: Cycle: Result{% endblock %}

{% block content %}
    {% if linkType == 'specific' %}
        <h3><span class="glyphicon glyphicon-hdd"></span> Cycle: {{ searchName }}</h3>

        <div class="panel panel-info" id="accordion">
            <div class="panel-heading">
                Finder Panel

                <a style="float: right" data-toggle="collapse"
                   data-parent="#accordion" href="#collapseOne">
                    [X]
                </a>
            </div>
            <div class="panel-body panel-collapse collapse in" id="collapseOne">

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:weekNoLink.html.twig',
                    { 'weekNoLinks': searchLinks.weekNo }
                    ) }}
                </div>

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:monthLink.html.twig',
                    { 'monthLinks': searchLinks.month }
                    ) }}
                </div>

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:yearLink.html.twig',
                    { 'yearLinks': searchLinks.year }
                    ) }}
                </div>

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:leapLink.html.twig',
                    { 'leapLinks': searchLinks.leap }
                    ) }}
                </div>

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:weeklyLink.html.twig',
                    { 'weeklyLinks': searchLinks.weekly }
                    ) }}
                </div>

                <div class="marginbottom10px">
                    {{ include(
                    'JackFindBundle:Cycle:miniLink.html.twig',
                    { 'miniLinks': searchLinks.mini }
                    ) }}
                </div>

            </div>
        </div>


    {% else %}
    {% endif %}

    <h3>
        <span class="glyphicon glyphicon-th-list"></span>
        In {{ symbol|upper }}:
        {% if resultCount %}
            {{ resultCount }} Results
        {% else %}
            Empty Result
        {% endif %}
    </h3>

    {% if cycles %}
        <div class="panel panel-success">
            <div class="panel-heading">Strike Table</div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Expire Cycle</th>
                        <th>Expire Date</th>
                        <th>Expire Week</th>
                        <th>Right</th>
                        <th>Weekly</th>
                        <th>Mini</th>
                    </tr>
                    {% for cycle in cycles %}
                        <tr>
                            <td>{{ cycle.id }}</td>
                            <td>{{ cycle.expireMonth }}-{{ "%02d"|format(cycle.expireYear) }}</td>
                            <td>{{ cycle.expireDate|date('Y-m-d') }}</td>
                            <td>

                                {% if cycle.isWeekly %}
                                    <b style="color: red">
                                        {% set week = cycle.expireMonth|slice(3, 1) %}
                                        {% if week == 1 %}
                                            1st
                                        {% elseif week == 2 %}
                                            2nd
                                        {% elseif week == 3 %}
                                            3rd
                                        {% else %}
                                            {{ week }}th
                                        {% endif %}
                                        Week
                                    </b>
                                {% else %}
                                    <span style="color: green">3rd Week</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if cycle.isMini %}
                                    <b style="color: blue">{{ cycle.contractRight }}</b>
                                {% else %}
                                    {{ cycle.contractRight }}
                                {% endif %}
                            </td>
                            <td>
                                {% if cycle.isWeekly %}
                                    <b style="color: red">Yes</b>
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if cycle.isMini %}
                                    <b style="color: blue">Yes</b>
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    {% endif %}

{% endblock %}