{% extends "JackImportBundle::layout.html.twig" %}

{% block title %}Import Bundle: Event: Add Event: Earning{% endblock %}

{% block content %}
    <h3><span class="glyphicon glyphicon-calendar"></span> Add Event [Earning]:</h3>

    {% if notice %}
        <div class="alert alert-success">
            <b>(SUCCESS)</b> {{ notice }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            <b>(WARNING)</b> {{ error }}
        </div>
    {% endif %}



    <div class="panel panel-info">
        <div class="panel-heading"><b>Event Form</b></div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-2">
                    <blockquote>
                        <p>Input Data:</p>
                    </blockquote>
                </div>


                <div class="col-md-10">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_errors(form.target) }}



                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.date, 'Event Date: ') }}
                                {{ form_errors(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.firm, 'Firm Name: ') }}
                                {{ form_errors(form.firm) }}
                                {{ form_widget(form.firm, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.opinion, 'Opinion: ') }}
                                {{ form_errors(form.opinion) }}
                                {{ form_widget(form.opinion, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.rating, 'New Rating: ') }}
                                {{ form_errors(form.rating) }}
                                {{ form_widget(form.rating, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.target, 'Target Price: ') }}

                                {{ form_widget(form.target, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.symbol) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary' }}) }}
                            </div>
                        </div>
                    </div>

                </div>















                {{ form_end(form) }}

            </div>

        </div>
    </div>


    {{ include(
    'JackImportBundle:Event:showAnalyst.html.twig',
    { 'analysts': analysts }
    ) }}


{% endblock %}
