{% extends "JackImportBundle::layout.html.twig" %}

{% block title %}Import Bundle: Event: Add Event: Earning{% endblock %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}"/>
    <style>
        .event {
            width: 80%;
        }

        .event td {
            padding: 2px;
        }

        .event .first {
            width: 100px;
        }

        .event .money {
            width: 160px;
        }

        .notice {
            color: green;
            line-break:;
            line-height: 2em;
        }

        .error2 {
            color: red;
            line-break:;
            line-height: 2em;
        }

        .field_error {
            color: red;
        }

        .firm {
            width: 300px;
        }

    </style>
{% endblock %}

{% block content %}
    <h2 style="background-color: darkcyan">Add Event [Earning]:</h2>

    {% if notice %}
        <div class="notice" style="padding-left: 4px;">
            <b>(SUCCESS) </b>
            {{ notice }}
        </div>
    {% endif %}

    {% if error %}
        <div class="error2" style="padding-left: 4px;">
            <b style="color: red">(WARNING) </b>
            {{ error }}
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <table class="event">
        <tr>
            <td class="first">
                {{ form_label(form.date, 'Event Date: ') }}
            </td>
            <td>
                {{ form_errors(form.date) }}
                {{ form_widget(form.date) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.firm, 'Firm Name: ') }}
            </td>
            <td>
                {{ form_errors(form.firm) }}
                {{ form_widget(form.firm, {'attr': {'class': 'firm' }}) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.opinion, 'Opinion: ') }}
            </td>
            <td>
                {{ form_errors(form.opinion) }}
                {{ form_widget(form.opinion) }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form_label(form.rating, 'New Rating: ') }}
            </td>

            <td>
                {{ form_errors(form.rating) }}
                {{ form_widget(form.rating) }}
            </td>

        </tr>
        <tr>
            <td>
                {{ form_label(form.target, 'Target Price: ') }}
            </td>

            <td>
                {{ form_errors(form.target) }}
                {{ form_widget(form.target, {'attr': {'class': 'money' }}) }}
            </td>

        </tr>
        <tr>
            <td>
                {{ form_widget(form.symbol) }}
                {{ form_widget(form.save) }}
            </td>
        </tr>
    </table>

    {{ form_end(form) }}

{% endblock %}
