{% extends "JackImportBundle::layout.html.twig" %}

{% block title %}Import Bundle: Event: Add Event: Earning{% endblock %}

{% block content %}
    <h3><span class="glyphicon glyphicon-calendar"></span> Add Event [Earning]:</h3>

    {% if notice %}
        <div class="alert alert-success">
            <b>(SUCCESS)</b> {{ notice }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            <b>(WARNING)</b> {{ error }}
        </div>
    {% endif %}




    <div class="panel panel-info">
        <div class="panel-heading"><b>Event Form</b></div>
        <div class="panel-body">
            <div class="row">


                <div class="col-md-2">
                    <blockquote>
                        <p>Input Data:</p>
                    </blockquote>
                </div>

                <div class="col-md-10">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.date, 'Event Date: ') }}
                                {{ form_errors(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form_label(form.marketHour, 'Market Hour: ') }}
                                {{ form_errors(form.marketHour) }}
                                {{ form_widget(form.marketHour, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.periodEnding, 'Period Ending: ') }}
                                {{ form_errors(form.periodEnding) }}
                                {{ form_widget(form.periodEnding, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.estimate, 'Estimate ($): ') }}
                                {{ form_errors(form.estimate) }}
                                {{ form_widget(form.estimate, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.actual, 'Actual ($): ') }}
                                {{ form_errors(form.actual) }}
                                {{ form_widget(form.actual, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_widget(form.symbol) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary' }}) }}
                            </div>
                        </div>
                    </div>







                    {{ form_end(form) }}

                </div>

            </div>
        </div>
    </div>
















    </tr>
    <tr>
        <td>

        </td>
    </tr>
    </table>



    <br/>

    {{ include(
    'JackImportBundle:Event:showEarning.html.twig',
    { 'earnings': earnings }
    ) }}

{% endblock %}
