{% extends "JackImportBundle::layout.html.twig" %}

{% block title %}Import Bundle: Event: Add Event{% endblock %}

{% block content %}
    <h3><span class="glyphicon glyphicon-calendar"></span> Add New Event</h3>

    {% if notice %}
        <div class="alert alert-success">
            <b>(SUCCESS)</b> {{ notice }}
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            <b>(WARNING)</b> {{ error }}
        </div>
    {% endif %}

    <div class="panel panel-info">
        <div class="panel-heading"><b>Event Form</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <blockquote>
                        <p>Input Data:</p>
                    </blockquote>
                </div>

                <div class="col-md-10">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.date, 'Event Date: ') }}
                            {{ form_errors(form.date) }}
                            {{ form_widget(form.date,
                            {'attr': {'class': 'form-control' }} ) }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.name, 'Event Type: ') }}
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name,
                            {'attr': {'class': 'form-control' }} ) }}
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.context, 'Description: ') }}

                            {{ form_errors(form.context) }}
                            {{ form_widget(form.context,
                            {'attr': {'class': 'form-control', 'placeholder': '...' }}) }}
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <div><label>&nbsp;</label></div>
                            {{ form_widget(form.symbol) }}
                            {{ form_widget(form.save,
                            {'attr': {'class': 'btn btn-primary' }}) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {{ include(
    'JackImportBundle:Event:showEvent.html.twig',
    { 'events': events }
    ) }}

{% endblock %}
