{% if analysts %}
    <h2 style="background-color: darkcyan">
        EVENT (analyst)
    </h2>
    <table>
        <tr>
            <th style="width: 70px; font-weight: bold;">ID</th>
            <th style="width: 120px; font-weight: bold;">Date</th>
            <th style="width: 100px; font-weight: bold;">Name</th>
            <th style="width: 160px; font-weight: bold;">Firm</th>
            <th style="width: 100px; font-weight: bold;">Opinion</th>
            <th style="width: 100px; font-weight: bold;">Rating</th>
            <th style="width: 70px; font-weight: bold;">Price</th>
            <th></th>
        </tr>
        {% for analyst in analysts %}
            <tr>
                <td>{{ analyst.event_id }}({{ analyst.id }})</td>
                <td>{{ analyst.date }}</td>
                <td>{{ analyst.name }}</td>
                <td>{{ analyst.firm }}</td>

                {% if analyst.opinion == -1 %}
                    <td>Downgrade</td>
                {% elseif analyst.opinion == 0 %}
                    <td>Initial</td>
                {% elseif analyst.opinion == 1 %}
                    <td>Upgrade</td>
                {% endif %}

                {% if analyst.rating == 0 %}
                    <td>Strong Sell</td>
                {% elseif analyst.rating == 1 %}
                    <td>Sell</td>
                {% elseif analyst.rating == 2 %}
                    <td>Hold</td>
                {% elseif analyst.rating == 3 %}
                    <td>Buy</td>
                {% elseif analyst.rating == 4 %}
                    <td>Strong-Buy</td>
                {% endif %}


                <td>${{ analyst.target|number_format(2, '.', ',') }}</td>
                <td><a href="{{ analyst.delete }}">Remove analyst</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2 style="background-color: darkcyan">
        EVENT (analyst)
    </h2>
    <p>This underlying have no analyst inserted yet.</p>
{% endif %}