<h3><span class="glyphicon glyphicon-calendar"></span> Earning Data</h3>
{% if earnings %}
    <div class="panel panel-success">
        <div class="panel-heading"><b>Event Table</b> (EARNING)</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Hour</th>
                    <th>Season</th>
                    <th>Estimate</th>
                    <th>Actual</th>
                    <th></th>
                </tr>
                {% for earning in earnings %}
                    <tr>
                        <td>{{ earning.event_id }}({{ earning.id }})</td>
                        <td>{{ earning.date }}</td>
                        <td>{{ earning.name }}</td>
                        {% if earning.marketHour == 'before' %}
                            <td>Before Market Open</td>
                        {% endif %}
                        {% if earning.marketHour == 'during' %}
                            <td>During Market Hour</td>
                        {% endif %}
                        {% if earning.marketHour == 'after' %}
                            <td>After Market Close</td>
                        {% endif %}

                        <td>
                            {% if earning.periodEnding == 'q1' %}
                                Quarter 1 (Jan-Mar)
                            {% elseif earning.periodEnding == 'q2' %}
                                Quarter 2 (Apr-Jun)
                            {% elseif earning.periodEnding == 'q3' %}
                                Quarter 3 (Jul-Sep)
                            {% else %}
                                Quarter 4 (Oct-Dec)
                            {% endif %}
                        </td>

                        <td>${{ earning.estimate|number_format(2, '.', ',') }}</td>
                        <td>${{ earning.actual|number_format(2, '.', ',') }}</td>
                        <td><a href="{{ earning.delete }}">Remove Earning</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning"><b>EMPTY!</b> This underlying doesn't have any earning yet.</div>
{% endif %}