<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:60px;">Select Days:</b>
            {% for dayLink in searchLinks.day %}
                {% if dayLink.url == '#' %}
                    <div style="float: left; width: 40px;">
                        <b>[{{ dayLink.day }}]</b>
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                    {
                    'action': dayLink.url, 'symbol': symbol,
                    'day': dayLink.day, 'month': date.month, 'year': date.year,
                    'weekday': date.weekday, 'week': date.week
                    }) }}">
                        <div style="width: 40px;">
                            {{ dayLink.day }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% if date.day == 0 %}
                <div style="float: left;width: 40px;">
                    <b>[ANY]</b>
                </div>
            {% else %}
                <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': 0, 'month': date.month, 'year': date.year,
                'weekday': date.weekday, 'week': date.week
                }) }}">
                    <div style="width: 40px;">
                        ANY
                    </div>
                </a>
            {% endif %}

        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:40px;">Select Months:</b>
            {% for monthLink in searchLinks.month %}
                {% if monthLink.url == '#' %}
                    <div style="float: left; width: 50px;">
                        <b>[{{ monthLink.display }}]</b>
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                    {
                    'action': monthLink.url, 'symbol': symbol,
                    'day': date.day, 'month': monthLink.month, 'year': date.year,
                    'weekday': date.weekday, 'week': date.week
                    }) }}">
                        <div style="width: 50px;">
                            {{ monthLink.display }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% if date.month == 0 %}
                <div style="float: left; width: 50px;">
                    <b>[ANY]</b>
                </div>
            {% else %}
                <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': date.day, 'month': 0, 'year': date.year,
                'weekday': date.weekday, 'week': date.week
                }) }}">
                    <div style="width: 50px;">
                        ANY
                    </div>
                </a>
            {% endif %}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:40px;">Select Years:</b>
            {% for yearLink in searchLinks.year %}
                {% if yearLink.url == '#' %}
                    <div style="float: left; width: 60px;">
                        <b>[{{ yearLink.year }}]</b>
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                    {
                    'action': yearLink.url, 'symbol': symbol,
                    'day': date.day, 'month': date.month, 'year': yearLink.year,
                    'weekday': date.weekday, 'week': date.week
                    }) }}">
                        <div style="width: 60px;">
                            {{ yearLink.year }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% if date.year == 0 %}
                <div style="float: left; width: 50px;">
                    <b>[ALL]</b>
                </div>
            {% else %}
                <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': date.day, 'month': date.month, 'year': 0,
                'weekday': date.weekday, 'week': date.week
                }) }}">
                    <div style="width: 50px;">
                        ALL
                    </div>
                </a>
            {% endif %}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:40px;">Select Weekdays:</b>
            {% for weekdayLink in searchLinks.weekday %}
                {% if weekdayLink.url == '#' %}
                    <div style="float: left; width: 100px;">
                        <b>[{{ weekdayLink.display }}]</b>
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                    {
                    'action': weekdayLink.url, 'symbol': symbol,
                    'day': date.day, 'month': date.month, 'year': date.year,
                    'weekday': weekdayLink.weekday, 'week': date.week
                    }) }}">
                        <div style="width: 100px;">
                            {{ weekdayLink.display }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% if date.weekday != 'monday' and date.weekday != 'tuesday' and date.weekday != 'wednesday' and
            date.weekday != 'thursday' and date.weekday != 'friday' %}
                <div style="float: left;width: 40px;">
                    <b>[ANY]</b>
                </div>
            {% else %}
                <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': date.day, 'month': date.month, 'year': date.year,
                'weekday': 0, 'week': date.week
                }) }}">
                    <div style="width: 40px;">
                        ANY
                    </div>
                </a>
            {% endif %}
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <b style="float: left; width: 140px; height:100px;">Select Weeks:</b>
            {% for weekLink in searchLinks.week %}
                {% if weekLink.url == '#' %}
                    <div style="float: left; width: 40px;">
                        <b>[{{ weekLink.week }}]</b>
                    </div>
                {% else %}
                    <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                    {
                    'action': weekLink.url, 'symbol': symbol,
                    'day': date.day, 'month': date.month, 'year': date.year,
                    'weekday': date.weekday, 'week': weekLink.week
                    }) }}">
                        <div style="width: 40px;">
                            {{ weekLink.week }}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% if date.week == 0 %}
                <div style="float: left; width: 40px;">
                    <b>[ALL]</b>
                </div>
            {% else %}
                <a style="float: left;" href="{{ path('jack_find_underlying_result_findbycalendar',
                {
                'action': 'findbycalendar', 'symbol': symbol,
                'day': date.day, 'month': date.month, 'year': date.year,
                'weekday': date.weekday, 'week': 0
                }) }}">
                    <div style="width: 40px;">
                        ALL
                    </div>
                </a>
            {% endif %}
        </td>
    </tr>
</table>

