<div class="marginbottom10px">
    {{ include(
    'JackFindBundle:Underlying:dayLink.html.twig',
    { 'searchLinks': searchLinks.day }
    ) }}
</div>

<div class="marginbottom10px">
    {{ include(
    'JackFindBundle:Underlying:monthLink.html.twig',
    { 'searchLinks': searchLinks.month }
    ) }}
</div>

<div class="marginbottom10px">
    {{ include(
    'JackFindBundle:Underlying:yearLink.html.twig',
    { 'searchLinks': searchLinks.year }
    ) }}
</div>

<div class="marginbottom10px">
    {{ include(
    'JackFindBundle:Underlying:weekdayLink.html.twig',
    { 'searchLinks': searchLinks.weekday }
    ) }}
</div>

<div>
    {{ include(
    'JackFindBundle:Underlying:weekLink.html.twig',
    { 'searchLinks': searchLinks.week }
    ) }}
</div>