<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(searchLinks.startDate, 'First Date: ') }}
            {{ form_errors(searchLinks.startDate) }}
            {{ form_widget(searchLinks.startDate.day, {'attr': {'class': 'form-control' }}) }}
            {{ form_widget(searchLinks.startDate.month, {'attr': {'class': 'form-control' }}) }}
            {{ form_widget(searchLinks.startDate.year, {'attr': {'class': 'form-control' }}) }}

        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(searchLinks.endDate, 'Last Date:') }}

            {{ form_errors(searchLinks.endDate) }}
            {{ form_widget(searchLinks.endDate,
            {'attr': {'class': 'form-control', 'placeholder': '.col-md-4' }}) }}
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <div><label>&nbsp;</label></div>
            {{ form_widget(searchLinks.endDate,
            {'attr': {'class': 'btn btn-primary' }}) }}
        </div>
    </div>

    {{ form_end(searchLinks) }}
</div>

