{% extends "JackFindBundle::layout.html.twig" %}

{% block title %}Find Bundle: Underlying: Result{% endblock %}

{% block content %}
    <h2 style="background-color: darkcyan">Underlying: {{ searchName }}

    </h2>

    {% if linkType == 'days' %}
        {{ include(
        'JackFindBundle:Underlying:dayLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% elseif linkType == 'months' %}
        {{ include(
        'JackFindBundle:Underlying:monthLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% elseif linkType == 'years' %}
        {{ include(
        'JackFindBundle:Underlying:yearLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% elseif linkType == 'weekday' %}
        {{ include(
        'JackFindBundle:Underlying:weekdayLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% elseif linkType == 'week' %}
        {{ include(
        'JackFindBundle:Underlying:weekLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% elseif linkType == 'calendar' %}
        {{ include(
        'JackFindBundle:Underlying:calendarLink.html.twig',
        { 'searchLinks': searchLinks }
        ) }}
    {% endif %}


    <h2 style="background-color: darkcyan">
        In {{ symbol }}:
        {% if resultCount %}
            {{ resultCount }} Results
        {% else %}
            Empty Result
        {% endif %}
    </h2>

    {% if underlyings %}
        <table>
        <tr>
            <th style="font-weight: bold;">ID</th>
            <th style="font-weight: bold;">Name</th>
            <th style="font-weight: bold;">Date</th>
            <th style="font-weight: bold;">Weekday</th>
            <th style="font-weight: bold;">Week.</th>
            <th style="font-weight: bold;">Last</th>
            <th style="font-weight: bold;">Change</th>
            <th style="font-weight: bold;">Volume</th>
            <th style="font-weight: bold;">Open</th>
            <th style="font-weight: bold;">High</th>
            <th style="font-weight: bold;">Low</th>
        </tr>
        {% for underlying in underlyings %}
            <tr>
                <td style="width: 50px;">{{ underlying.id }}</td>
                <td style="width: 70px;">{{ underlying.name }}</td>
                <td style="width: 120px;">{{ underlying.date|date("M-d-Y") }}</td>
                <td style="width: 100px;">{{ underlying.date|date("l") }}</td>
                <td style="width: 60px;">{{ underlying.date|date("W") }}</td>
                <td style="width: 70px;">{{ underlying.last|number_format(2, '.', ',') }}</td>
                <td style="width: 70px;">
                    {% if underlying.netChange >= 0 %}
                        <b style="color: green">+{{ underlying.netChange|number_format(2, '.', ',') }}</b>
                    {% else %}
                        <b style="color: red">{{ underlying.netChange|number_format(2, '.', ',') }}</b>
                    {% endif %}
                </td>
                <td style="width: 120px;">{{ underlying.volume|number_format(0, '.', ',') }}</td>
                <td style="width: 70px;">{{ underlying.open|number_format(2, '.', ',') }}</td>
                <td style="width: 70px;">{{ underlying.high|number_format(2, '.', ',') }}</td>
                <td style="width: 70px;">{{ underlying.low|number_format(2, '.', ',') }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No underlying data available for specific search!</p>
    {% endif %}

    </table>



{% endblock %}
