{% extends "JackFindBundle::layout.html.twig" %}

{% block title %}Find Bundle: Underlying: Result{% endblock %}

{% block content %}
    {% if linkType == 'calendar' %}
        <h3><span class="glyphicon glyphicon-hdd"></span> Underlying: {{ searchName }}</h3>
        <div class="panel panel-info">
            <div class="panel-heading">Finder Panel</div>
            <div class="panel-body">
                {{ include(
                'JackFindBundle:Underlying:calendarLink.html.twig',
                { 'searchLinks': searchLinks }
                ) }}
            </div>
        </div>
    {% elseif linkType == 'daterange' %}
        <h3><span class="glyphicon glyphicon-hdd"></span> Underlying: {{ searchName }}</h3>
        <div class="panel panel-info">
            <div class="panel-heading">Finder Panel</div>
            <div class="panel-body">
                {{ include(
                'JackFindBundle:Underlying:dateRangeLink.html.twig',
                { 'searchLinks': searchLinks }
                ) }}
            </div>
        </div>
    {% endif %}



    <h3>
        <span class="glyphicon glyphicon-th-list"></span> In {{ symbol|upper }}:
        {% if resultCount %}
            {{ resultCount }} Results
        {% else %}
            Empty Result
        {% endif %}
    </h3>

    {% if underlyings %}
        <div class="panel panel-success">
            <div class="panel-heading">Results Table</div>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Weekday</th>
                        <th>Week.</th>
                        <th>Last</th>
                        <th>Change</th>
                        <th>Volume</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                    {% for underlying in underlyings %}
                        <tr>
                            <td>{{ underlying.id }}</td>
                            <td>{{ underlying.name }}</td>
                            <td>{{ underlying.date|date("M-d-Y") }}</td>
                            <td>{{ underlying.date|date("l") }}</td>
                            <td>{{ underlying.date|date("W") }}</td>
                            <td>{{ underlying.last|number_format(2, '.', ',') }}</td>
                            <td>
                                {% if underlying.netChange >= 0 %}
                                    <b style="color: green">+{{ underlying.netChange|number_format(2, '.', ',') }}</b>
                                {% else %}
                                    <b style="color: red">{{ underlying.netChange|number_format(2, '.', ',') }}</b>
                                {% endif %}
                            </td>
                            <td>{{ underlying.volume|number_format(0, '.', ',') }}</td>
                            <td>{{ underlying.open|number_format(2, '.', ',') }}</td>
                            <td>{{ underlying.high|number_format(2, '.', ',') }}</td>
                            <td>{{ underlying.low|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    {% else %}
        <div class="alert alert-warning">No underlying data available for specific search!</div>
    {% endif %}





{% endblock %}
