{% extends "JackEarningBundle::layout.html.twig" %}

{% block title %}Earning Bundle: Index{% endblock %}

{% block content %}

    <h3><span class="glyphicon glyphicon-calendar"></span> Earning Bundle: Index</h3>

    {{ form_start(earningForm, {'attr': {'class': 'form-inline', 'role': 'form' }}) }}
    {{ form_errors(earningForm) }}

    <div class="panel panel-primary">
        <div class="panel-heading"><b>Form</b></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <blockquote>
                        <p>Please select:</p>
                    </blockquote>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(earningForm.symbol, 'Symbol:') }}
                        {{ form_errors(earningForm.symbol) }}
                        {{ form_widget(earningForm.symbol,
                        {'attr': {'class': 'form-control' }}) }}

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(earningForm.action, 'Action:') }}

                        {{ form_errors(earningForm.action) }}
                        {{ form_widget(earningForm.action,
                        {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div><label>&nbsp;</label></div>
                        {{ form_widget(earningForm.generate,
                        {'attr': {'class': 'btn btn-primary' }}) }}
                    </div>
                </div>

                {{ form_end(earningForm) }}
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <span class="help-block">
                        ** Latest import
                    </span>
                </div>
            </div>

        </div>
    </div>





{% endblock %}
