{% extends "JackFindBundle::layout.html.twig" %}

{% block title %}Find Bundle: Strike: Result{% endblock %}

{% block content %}
    <h3><span class="glyphicon glyphicon-hdd"></span> Strike: {{ searchName }}</h3>

    {% if linkType == 'findbycategory' %}
        <div class="panel panel-info">
            <div class="panel-heading">Finder Panel</div>
            <div class="panel-body">
                {{ include(
                'JackFindBundle:Strike:categoryLink.html.twig',
                { 'categoryLinks': searchLinks }
                ) }}
            </div>
        </div>
    {% else %}

    {% endif %}

    <h3><span class="glyphicon glyphicon-th-list"></span>
        In {{ symbol|upper }}:
        {% if resultCount %}
            {{ resultCount }} Results
        {% else %}
            Empty Result
        {% endif %}
    </h3>

    <div class="panel panel-success">
        <div class="panel-heading">Strike Table</div>
        <div class="panel-body">

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Strike Price</th>
                </tr>

                {% for strike in strikes %}
                    <tr>
                        <td>{{ strike.id }}</td>

                        <td>
                            {% if strike.category == 'CALL' %}
                                <b style="color: green">Call</b>
                            {% else %}
                                <b style="color: red">Put</b>
                            {% endif %}
                        </td>
                        <td>{{ strike.price|number_format(2) }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>

{% endblock %}