<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jack's Options</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Earning <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('jack_earning_default_index') }}">
                                <span class="glyphicon glyphicon-calendar"></span> Default Index
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">System <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('jack_system_holiday') }}">
                                <span class="glyphicon glyphicon-calendar"></span> Add Holiday
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jack_import_parallel_index') }}">
                                <span class="glyphicon glyphicon-forward"></span> Parallel Import
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_import_default') }}">
                                <span class="glyphicon glyphicon-import"></span> Import All Files
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_import_check_form') }}">
                                <span class="glyphicon glyphicon-check"></span> Check Data
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_import_event_symbol') }}">
                                <span class="glyphicon glyphicon-calendar"></span> Manage Event
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finder <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jack_find_underlying_index') }}">
                                <span class="glyphicon glyphicon-hdd"></span> Underlyings
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_find_cycle_index') }}">
                                <span class="glyphicon glyphicon-hdd"></span> Cycles
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_find_strike_index') }}">
                                <span class="glyphicon glyphicon-hdd"></span> Strikes
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistic <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('jack_stat_daily_iv_index') }}">
                                <span class="glyphicon glyphicon-tasks"></span> IV Generator
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_stat_hv_index') }}">
                                <span class="glyphicon glyphicon-tasks"></span> HV Generator
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_stat_pcratio_index') }}">
                                <span class="glyphicon glyphicon-tasks"></span> PC Ratio Generator
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_stat_sizzle_index') }}">
                                <span class="glyphicon glyphicon-tasks"></span> Sizzle Generator
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('jack_stat_vwap_index') }}">
                                <span class="glyphicon glyphicon-tasks"></span> VWAP Generator
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>